<div
  class="my-12 h-[85vh] md:w-[90%] mx-auto md:grid grid-cols-12 gap-x-5"
  id="about-me"
>
  <div class="col-span-8">
    <h1
      class="text-xl md:text-3xl whitespace-pre flex font-medium numbered-heading"
    >
      <span class="text-accent">01.</span>
      <p class="ml-2">About Me</p>
    </h1>

    <div class="mt-10 space-y-3">
      <h1 class="md:text-lg text-text-secondary">
        Hello! My name is Rizwan and I enjoy creating things that live on the
        internet. My interest in web development started back in 2020 when I
        decided to learn to code just for fun.
      </h1>
      <p class="md:text-lg text-text-secondary">
        Fast-forward to today, and I've had the privilege of working at an
        E-Commerce start-up and a Web3 Hotel Booking Website. My main focus
        these days is building accessible, inclusive web products and digital
        experiences at
        <a href="https://cartibuy.in" target="_blank" class="text-accent">
          Cartibuy.in
        </a>.
      </p>
      <p class="md:text-lg text-text-secondary">
        Here are a few technologies I've been working with recently:
      </p>
      <div class="grid grid-cols-2 mx-5 md:mx-10">
        <ul class="list-disc space-y-2 text-text-secondary">
          <li>Next JS</li>
          <li>Tailwind CSS</li>
          <li>Typescript</li>
        </ul>
        <ul class="list-disc space-y-2 text-text-secondary">
          <li>Node JS</li>
          <li>Express</li>
          <li>Mongo DB</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-span-4 hidden md:block">
    <div
      class="relative md:h-[300px] md:w-[250px] h-[250px] w-[300px] group rounded-md bg-transparent border-2 border-accent transition-all hover:m-24 md:m-20 bg-blend-color-dodge"
    >
      <img
        src="/profile-pic.webp"
        class="rounded-md bg-accent object-cover group-hover:p-5 group-hover:m-5 saturate-150 -m-5 transition-all"
        alt="profile-pic"
        height="250"
        width="300"
      />
    </div>
  </div>
</div>
