<div
  id="contact"
  class="min-h-screen flex flex-col items-center justify-center text-white p-8"
>
  <div class="text-center flex flex-col gap-y-6">
    <h4 class="text-sm font-semibold tracking-widest uppercase text-accent">
      04. What's Next?
    </h4>
    <h2 class="text-4xl text-text-primary font-bold sm:text-5xl">
      Get In Touch
    </h2>
    <p class="max-w-lg mx-auto text-base sm:text-lg text-text-tertiary">
      Although I'm not currently looking for any new opportunities, my inbox
      is always open. Whether you have a question or just want to say hi,
      I'll try my best to get back to you!
    </p>
    <a
      href="mailto:rizwan.k.off@gmail.com"
      target="_blank"
      class="mt-5 w-fit mx-auto bg-background-primary text-accent border border-accent px-5 py-3 rounded-[4px] hover:button-transition"
    >
      Say Hello
    </a>
  </div>
  <div class="mt-12 text-center space-y-4">
    <p class="text-xs">Built by Rizwan-K</p>
  </div>
</div>
