<div class="lg:flex flex-col gap-y-7 fixed bottom-0 right-14 w-fit hidden">
  <a
    href="mailto:rizwan.k.off@gmail.com"
    target="_blank"
    class="tracking-widest text-text-secondary"
    style="writing-mode: vertical-lr; text-orientation: revert;"
  >
    rizwan.k.off@gmail.com
  </a>
  <span class="w-[1px] h-40 bg-text-secondary ml-2"></span>
</div>
