
<nav class="px-12 py-4 md:flex fixed z-50 top-0 left-0 w-full hidden items-center justify-end bg-background-primary">
  <!-- Logo or Home Link can go here if needed -->
  <div class="flex items-center">
    <ul class="w-full flex items-center">
      <li>
        <a href="#about-me" class="px-6 cursor-pointer py-5" style="scroll-margin-top: 85px;">
          <span class="text-accent">01.</span> About
        </a>
        <a href="#experience" class="px-6 cursor-pointer py-5" style="scroll-margin-top: 200px;">
          <span class="text-accent">02.</span> Experience
        </a>
        <a href="#work" class="px-6 cursor-pointer py-5" style="scroll-margin-top: 100px;">
          <span class="text-accent">03.</span> Work
        </a>
        <a href="#contact" class="px-6 cursor-pointer py-5">
          <span class="text-accent">04.</span> Contact
        </a>
      </li>
    </ul>
    <a
      href="/resume.pdf"
      target="_blank"
      class="bg-background-primary text-accent border cursor-pointer border-accent px-4 py-2 rounded-[4px] hover:button-transition ml-3"
    >
      Resume
    </a>
  </div>
</nav>
